<div class="col-lg-2 list-group visible-lg">
    <a href="#!/info" class="list-group-item active">
        <span class="glyphicon glyphicon-home iconoBarra" aria-hidden="true"></span>
        <br>INICIO
    </a>
    <a href="#!/registroContactos" class="list-group-item">
        <span class="glyphicon glyphicon-user iconoBarra" aria-hidden="true"></span>
        <br>REGISTRO DE CONTACTOS
    </a>
    <a href="#!/sistemaUsuarios" class="list-group-item">
        <span class="glyphicon glyphicon-cog iconoBarra" aria-hidden="true"></span>
        <br>SISTEMA DE USUARIOS
    </a>
</div>

<div class="col-lg-2 list-group  visible-md visible-sm">
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a href="#!/index" class="list-group-item active">
        <span class="glyphicon glyphicon-home iconoBarra" aria-hidden="true"></span>
        <br>INICIO
    </a>
    </li>
    
    <li role="presentation">
      <a href="#!/info" class="list-group-item">
        <span class="glyphicon glyphicon-user iconoBarra" aria-hidden="true"></span>
        <br>REGISTRO DE CONTACTOS
    </a>
    </li>
    
    <li role="presentation">
      <a href="#!/sistemaUsuarios" class="list-group-item">
        <span class="glyphicon glyphicon-cog iconoBarra" aria-hidden="true"></span>
        <br>SISTEMA DE USUARIOS
    </a>
    </li>
  
  </ul>
</div>